<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


<servlet>
    <servlet-name>RemoteRunApiServlet</servlet-name>
    <servlet-class>RemoteRunApiServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>DownloadFileServlet</servlet-class>
  </servlet>

<servlet-mapping>
    <servlet-name>RemoteRunApiServlet</servlet-name>
    <url-pattern>/RemoteRunApiServlet/*</url-pattern>
  </servlet-mapping>

<servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>


</web-app>
